
.table{
    display:none;
    height: 100%;
    width: 100%;
}

#table_image{
    text-align: center;
}

.container img{
    margin-right: 1%;
}

#header{
    text-align: center;
}

#score_dealer{
    display: none;
}

#dealer{
    position: relative;
    text-align: center;
    margin-bottom: -11%;
}

#player{
    text-align: center;
    margin-top: -11%;
}

.buttons{
    margin-top: 2%;
    text-align: center;
}

.modal-dialog {
    width: 25% !important;
    margin: 15% auto !important;
}